* {
  box-sizing: border-box;
}

.input-search {
  width: 400px;
}

.cars-hero {
  position: relative;
  overflow: hidden;
}

.over-icon {
  position: fixed;
  /* height: 400px; */
  /* width: 200px; */
  right: 2%;
  top: 43%;
  z-index: 2;
}

/* .icon-1 {} */

.icon-1 i {
  font-size: 30px;
  padding: 10px 0;
  color: white;
  background-color: #0a2848;
  margin: 6px 0;
  width: 50px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.icon-1:hover i {
  transform: scale(1.1);
}

.h2-cards {
  font-size: 45px;
  text-align: center;
  padding: 30px;
  font-family: "Signika", sans-serif;
}

.welcome-syria {
  background-color: brown;
  margin: 40px 0;
  height: 200px;
  background: linear-gradient(to right, #8360c3, #2ebf91);
  overflow: scroll;
}

.welcome-syria h2 {
  font-size: 42px;
  text-align: center;
  padding: 30px 0 10px 0;
  color: white;
  font-family: "Signika", sans-serif;
}

.welcome-syria p {
  text-align: center;

  padding: 0 180px;
  color: white;
  font-size: 20px;
  font-family: "Signika", sans-serif;
}

.umayya {
  height: 400px;
  background-image: url(img/Um.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 80px 0;
}

.collaps-h2 h2 {
  font-size: 40px;
  text-align: center;
  padding: 30px 0 10px 0;
  margin: 20px 0;
  color: rgb(0, 0, 0);
  font-family: "Signika", sans-serif;
}

.city-content {
  background-color: #f4f4f4;
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 20px;
}

.city-content p {
  font-size: 20px;
  font-family: "Signika", sans-serif;
  color: #666666;
}

.city-info {
  margin: 20px 0;
}

.info-badge {
  background-color: #e3f2fd;
  border-radius: 20px;
  padding: 10px 10px;
  margin: 20px 10px;
  color: #5295de;
  font-weight: bold;
}

.itali-card h2 {
  font-size: 40px;
  text-align: center;
  padding: 30px 0 10px 0;
  margin: 20px 0;
  color: rgb(0, 0, 0);
  font-family: "Signika", sans-serif;
}

.itali-item {
  background-color: #f0f1f1;
  box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.4);

  /* display: flex;
  justify-content: space-between;
  flex-wrap: wrap; */
  overflow: hidden;
  padding-left: 10px;
  border-radius: 10px;
  height: 400px;
}

.left-item {
  background-color: #f0f1f1;
  /* width: 70%; */
  transform: skewX(-8deg);
  position: relative;
  z-index: 1;
  padding: 20px 0 0 20px;
}

.left-item h3 {
  font-family: "Signika", sans-serif;
  font-size: 35px;
  padding: 10px 0;
}

.left-item button {
  background-color: #f68537;
  font-family: "Signika", sans-serif;
  font-size: 18px;
  margin: 10px 10px 30px 0;
}

.left-item button:hover {
  color: gray;
  background-color: #f68537;
}

.right-item {
  height: 400px;
  /* width: 10%; */
  right: 10%;
  overflow: hidden;
  position: absolute;
  border-radius: 10px;
}

.right-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
  border-radius: 10px;
}

.itali-item:hover img {
  transform: scale(1.1);
}

.line-item {
  width: 120px;
  background-color: #152854;
  height: 3px;
  border-radius: 10px;
  margin-top: -8px;
  transition: 0.3s;
}

.itali-item:hover .line-item {
  width: 250px;
}

@media (max-width: 1670px) {
  .right-item {
    display: none;
  }
}

.itali-card-1 h2 {
  font-size: 40px;
  text-align: center;
  padding: 30px 0 10px 0;
  margin: 20px 0;
  color: rgb(0, 0, 0);
  font-family: "Signika", sans-serif;
}

.itali-item-1 {
  background-color: #f0f1f1;
  box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.4);
  /* display: flex;
  justify-content: space-between;
  flex-wrap: wrap; */
  overflow: hidden;
  padding-left: 10px;
  border-radius: 10px;
  height: 400px;
}

.left-item-1 {
  background-color: #f0f1f1;
  /* width: 70%; */
  transform: skewX(-8deg);
  position: relative;
  z-index: 1;
  padding: 20px 0 0 20px;
  left: 33%;
}

.left-item-1 h3 {
  font-family: "Signika", sans-serif;
  font-size: 35px;
  padding: 10px 0;
}

.left-item-1 button {
  background-color: #f68537;
  font-family: "Signika", sans-serif;
  font-size: 18px;
  margin: 10px 10px 30px 0;
}

.left-item-1 button:hover {
  color: gray;
  background-color: #f68537;
}

.right-item-1 {
  height: 400px;
  /* width: 10%; */
  left: 10%;
  overflow: hidden;
  position: absolute;
  border-radius: 10px;
}

.right-item-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
  border-radius: 10px;
}

.itali-item-1:hover img {
  transform: scale(1.1);
}

.line-item-1 {
  width: 120px;
  background-color: #152854;
  height: 3px;
  border-radius: 10px;
  margin-top: -8px;
  transition: 0.3s;
}

.itali-item-1:hover .line-item-1 {
  width: 250px;
}

@media (max-width: 1670px) {
  .right-item-1 {
    display: none;
  }

  .left-item-1 {
    left: 0.5%;
  }
}




.umayya-1 {
  height: 300px;
  background-image: url(img/Um1.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 80px 0;
}

.card_c {
  position: relative;
  overflow: hidden;
  /* border-radius: 30px; */
  z-index: -1;
}

.card_c::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.739);
  /* black with 40% transparency */
  pointer-events: none;
  /* so overlay doesn’t block clicks */
}

.card_b {
  position: absolute;
  z-index: 1;
  left: 10%;
  top: 10%;
}

.card_c- {
  transition: 0.3s;
}

.card_c-:hover {
  transform: scale(0.9);
}

.cyrcl {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #9088a0;
  margin-top: 120px;
  margin-left: -30px;
}

.join_us {
  margin: 20px 0 60px 0;
}

.join_us h2 {
  text-align: center;
  padding-bottom: 60px;
  font-size: 40px;
  font-family: "Signika", sans-serif;
}

.img-l img {
  cursor: pointer;
}

.img-l img:hover {
  transform: scale(1.1);
}

.footer-c {
  height: 200px;
  background-color: #666769;
}

@media (max-width: 1250px) {
  .footer-c {
    height: 550px;
  }

  .link-list {
    margin-top: 5px !important;
  }
}

.card_::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 0%;
  transition: 0.5s;
  background-color: #e3e0db2b;
  z-index: 0;
  border-radius: 5px;
}

.card_:hover::after {
  height: 100%;
  width: 100%;
}

.card_::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0%;
  height: 0%;
  transition: 0.5s;
  background-color: #e3e0db2b;
  z-index: 0;
  border-radius: 5px;
}

.card_:hover::before {
  height: 100%;
  width: 100%;
}